<!DOCTYPE html>
{% load socialaccount %}
<html lang="en">
{% load static %}
<link
  rel="stylesheet"
  type ="text/css"
  href="{% static 'WOMbasic/css/bootstrap.css' %}"
/>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'WOMbasic:home' %}">Word of Mouth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'WOMbasic:home' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'WOMbasic:submit' %}">Create New Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Recipes</a>
                </li>
            </ul>


        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>