{% extends 'base_template.html' %}
{% load socialaccount %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

{% block content %}
<p>{{ user.username }}'s Recipes</p>
<ul>
    {% for recipe in object_list %}
    {% if recipe.publisher.email == user.email %}
        <div class="card" style="width: 26rem;">
              <img class="card-img-top" src="{{ recipe.recipe_image.url }}" alt='no file'>

              <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                <p class="card-text">{{ recipe.recipe_description }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ recipe.publisher.username }}</li>
              </ul>
              <div class="card-body">
                <a href="{% url 'WOMbasic:recipe-details' recipe.pk %}" class="card-link">Go to recipe</a>
              </div>
        </div>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}