{% extends 'base_template.html' %}
{% load socialaccount %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ recipe.recipe_name }}</title>
</head>


{% block content %}
<style>
    img {
        height: 300px;
        width: auto;
    }
</style>
<center>
    <h1>{{ recipe.recipe_name }}</h1>
    <h5>By: <a href="{% url 'WOMbasic:prof' recipe.publisher.username %}">{{ recipe.publisher.username }}</a></h5>
    {% if recipe.forked %}
    <h5>Recipe Forked from: <a href="{% url 'WOMbasic:recipe-details' recipe.forked_fromId %}">{{ recipe.forked_from }}</a></h5>
    {% endif %}
    <br>
    {% if recipe.recipe_image is not None %}
    <img src = "{{ recipe.recipe_image.url }}">
    {% endif %}
<br>
</center>



<br>
<form action="{% url 'WOMbasic:like_recipe' recipe.pk %}" method="POST">
    {% csrf_token %}
    {% if total_likes == 1 %}
        <button type="submit" name="recipe_id" value="{{ recipe.id }}" class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} Like
    {% else %}
        <button type="submit" name="recipe_id" value="{{ recipe.id }}" class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} Likes
    {% endif %}
</form>
<br/>
<div class="homebutton">
    <a class="btn btn-dark btn-sm" href="{% url 'WOMbasic:home' %}">Back to Home</a>
</div>
<div>
{% if recipe.publisher.id == user.id %}
    <a class="btn btn-danger btn-sm" href="{% url 'WOMbasic:delete' recipe.pk %}">Delete Recipe</a>
{% endif %}
</div>



<h2>Comments</h2>
<br/>
{% if not recipe.comments.all %}
        No Comments Yet
    {% else %}
        {% for comment in recipe.comments.all %}
        <div class="card my-2">
            <div class="card-header">
                <i>Submitted: {{ comment.date_added }} </i>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ comment.name }}</h5>
                <p class="card-text"> {{ comment.body }}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
<br/>

<a href="{% url 'WOMbasic:add_comment' recipe.pk %}">Add Comment</a>

<br/>
{% endblock %}
