{% extends 'base_template.html' %}
{% load socialaccount %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ recipe.recipe_name }}</title>
</head>

<body>
{% block content %}
<h1> {{ recipe.recipe_name }}</h1>
<small>By: {{ recipe.publisher.email }}</small><br/>
<hr>
{{ recipe.recipe_image.url }}
<br>
{{ recipe.recipe_description }}
<br><br>
<small>
<a class="btn btn-dark btn-sm" href="{% url 'WOMbasic:home' %}">Back to Home</a>
<a class="btn btn-danger btn-sm" href="{% url 'WOMbasic:delete' recipe.pk %}">Delete Recipe</a>
</small>
{% endblock %}
</body>
